body {
    font-family: "Open Sans";
}

.head-shot {
    border-radius: 50%;
}

#linked-in {
    color: white;
}

.skills {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 2%;
}

.row {
    justify-content: center;
    align-items: center;
}
